@font-face {
    font-family: "Mulish";
    src: url('./fonts/Mulish-VariableFont_wght.ttf') format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-track:hover {
    background: transparent;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

#app {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    background: radial-gradient(circle, #FFFFFF, #ECECEC);
    color: #121212de;
    overflow-x: hidden;
    position: relative;
    scroll-behavior: smooth;
    transition: all 0.5s;
    margin: 0;
    padding: 1rem 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#app.dark {
    background: radial-gradient(circle, #1E1E1E, #333333);
    color: #f9f9f9e5;
}

#app-name {
    position: absolute;
    top: -50px;
    left: -50px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #5433e6;
    color: #FFFFFF;
    border-radius: 50% 0 50% 0;
    padding: 4.5rem 0 0 4rem;
    width: 200px;
    height: 200px;
}

#theme-toggle {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
}

.sun {
    color: rgb(235, 235, 43);
}

.moon {
    color: rgb(57, 57, 228);
}

.border-curve-top-left {
    border-top-left-radius: 6px;
}

.border-curve-bottom-left {
    border-bottom-left-radius: 6px;
}

.border-curve-top-right {
    border-top-right-radius: 6px;
}

.border-curve-bottom-right {
    border-bottom-right-radius: 6px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.toast {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: transparent;
    box-shadow: 0 0 6px -2px rgba(0, 0, 0, 0.2);
    color: rgb(201, 35, 35);
    border-radius: 6%;
    padding: 1rem 2rem;
    width: fit-content;
    height: auto;
    z-index: 999;
    animation: slideUp 0.5s ease-in-out;
}

