/* Pills to select between student, teacher and admin */
.pills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 338px;
    margin: 0 auto;
    padding: 5px 5px;
    border-radius: 6px;
    outline: 1px solid #bebebe !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pills ul {
    list-style-type: none;
}

.pills ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.pills ul li .link {
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    color: #bebebe;
    padding: 6px 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 500;
    font-size: 14px;
}

.pills ul li .link.active {
    background-color: #5433e6;
    color: #fff;
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

/* Login form */
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 338px;
    height: auto;
    margin: 1rem 0;
    padding: 20px;
    border-radius: 6px;
    outline: 1px solid #bebebe !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    color: #5433e6;
    border-bottom: 1px solid #bebebe62;
}

.login-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.login-form form .input-group {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    margin-top: 10px;   
}

.login-form form .input-group .password-toggle {
    position: absolute;
    top: 75%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;    
    text-decoration: none;
}

.login-form form label {
    font-weight: 500;
    font-size: 16px; 
}

.login-form form input {
    width: 100%;
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    outline: 1px solid #bebebe !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: transparent;
}

.login-form form input:hover,
.login-form form input:focus,
.login-form form input:active {
    outline: 1px solid #5433e6 !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login-form form button {
    width: 100%;
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #5433e6;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
}

.login-form form p {
    font-size: 14px;
    color: rgb(201, 35, 35);
}

